<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>c9rYyx/ilCNeVeXRW66fvmCnXq7pxKjcPG/zVa6umVvXqipk9uKcIGqLXOrUuf5fbDwUlnFWTh1Y9IvJ4rmzOIl5l0qk+xs6++XObJYuqbY8dPJlgBRJiVYbLatcOMrSScqy/9az8G8B7i3J35/TCcAwl3/WWu90NEYEYlv/xv0e+//VyV3n+wb7wp3cvEWy5418Yyx4etgsB/iDe5/kDwkDBppxNRE2JMlok0+ojnrzTDVSYXgTX6LXAbw5BNSb1QyIwgX8/eNRH5n/dWkNPf+GYHhKG6PUHnUlwAAUZk4ijfdXImuz34zvRUwT78xR5SCyVTZvxAOAQESEC3eQZQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>6f214Dk6heGJb/Gc68BvlWp7AqiDRtBPqr+dN8sqElrD4XgWzCM7lco/GSnjaMw2</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>